input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    border: none !important;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000;
    background: #F9690E;
    border-radius: 12px;
    border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 1px solid #00001E;
    height: 19px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F9690E;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000;
    background: #F9690E;
    border-radius: 12px;
    border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 1px solid #00001E;
    height: 19px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #F9690E;
    border: 0px solid #010101;
    border-radius: 24px;
    box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #F9690E;
    border: 0px solid #010101;
    border-radius: 24px;
    box-shadow: 0px 0px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000031;
    border: 1px solid #00001E;
    height: 19px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F9690E;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F9690E;
}