.App {
  text-align: left;
}

.App-logo {
  vertical-align: middle;
  width: auto;
  height: 3rem;
}

.App-header {
  background-color: #22313f;
  height: 5rem;
  padding: 1rem;
  color: white;
}

.App-title {
  vertical-align: middle;
  float: right;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
